/*!
 * pace.js v1.2.1 | Default theme
 * https://github.com/CodeByZach/pace/
 * Licensed MIT © HubSpot, Inc.
 */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #009688;
  height: 2px;
  position: fixed;
  right: 100%;
  top: 0;
  width: 100%;
  z-index: 2000;
}
